.list-item {
    list-style-type: none;
    width: 100%;
    margin: 5px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
    cursor: move;
}
.food {
    width: 100% !important;
    height: 160px!important;
    min-width: 225px;
}
.modal {
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}
.h2{
    font-size: 46px;
    letter-spacing: 2px;
    margin: 200px 0 0;
}

#practice {
    background-image: url("images/pictures/background.jpeg");
}

.panel-heading {
    background: #FFE6F9 !important;
}

.panel-title {
    font-family: "Comic Sans MS";
    font-size: 24px !important;
    color: #602060 !important;
}

.panel-body {
    font-family: "Comic Sans MS";
    font-size: 24px !important;
    color: #602060 !important;
    background: #fbb1ae !important;
}

.panel-title H2 {
    color: #602060;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fbb1ae;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
#slideout {
    position: fixed;
    top: 40px;
    left: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#slideout_inner {
    position: fixed;
    top: 40px;
    left: -250px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#slideout:hover {
    left: 250px;
}
#slideout:hover #slideout_inner {
    left: 0;
}

element.style {
    line-height: 1;
    position: absolute;
    height: 222px;
    top: 200px;
    left: -3px;
}
